<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">Wallet</h3>
        <div class="row breadcrumbs-top d-inline-block">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index-2.html">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Wallet
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
        <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" href="wallet.html">Buy now</a></div>
      </div>
    </div>
    <div class="content-detached content-left">
      <div class="content-body">
        <!-- Demo options menu -->
        <div class="demo-options">
          <ul class="demo-options-list">
            <li>
              <button type="button" class="btn btn-sm btn-settings fullscreen-overlay-open" data-toggle="tooltip" data-placement="left" title="View all demos"><i class="la la-desktop"></i></button>
            </li>
            <li>
              <a href="https://goo.gl/dKwTQf" class="btn btn-sm btn-cart open-fullscreen-overlay" target="_blank" data-toggle="tooltip" data-placement="left" title="Buy now"><i class="la la-cart-arrow-down"></i></a>
            </li>
            <li>
              <a href="https://pixinvent.com/demo/crypto-ico-admin/html/rtl/vertical-menu/" class="btn btn-rtl-mode open-fullscreen-overlay" data-toggle="tooltip" data-placement="left" title="RTL mode">RTL</a>
            </li>
          </ul>
        </div>
        <!--/ Demo options menu -->
        <!-- Demo fullscreen-overlay -->
        <div class="fullscreen-overlay">
          <div class="wrap mt-2">
            <button class="btn btn-default btn-sm btn-close fullscreen-overlay-open float-right"><i class="la la-times"></i></button>
            <!-- Add Banner -->
            <div class="crypto-ico-add my-4">
              <div class="row">
                <div class="col-12 col-12 text-center">
                  <img class="img-fluid img-add-banner" src="../assets/images/demo/offer-banner.jpg" alt="Crypto ICO add banner">
                </div>
              </div>
            </div>
            <!--/ Add Banner -->
            <div class="crypto-ico-demo">
              <div class="row">
                <div class="col-12 col-md-4">
                  <p class="ico-demo-sub-title mb-1">Semi Light Layout</p>
                  <h6 class="ico-demo-title text-uppercase font-weight-bold">Counter Landing Page</h6>
                  <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-counter/">
                    <img class="img-fluid mb-1 mt-2" src="../assets/images/demo/template-counter.jpg" alt="Counter Landing Page">
                  </a>
                  <ul class="nav justify-content-center mt-1">
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-counter/template-counter-ripple.html" class="ico-demo-link nav-link btn btn-outline-light">Ripple</a>
                    </li>
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-counter/template-counter-particle.html" class="ico-demo-link nav-link btn btn-outline-light">Particle</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-counter/template-counter-classic.html" class="ico-demo-link nav-link btn btn-outline-light">Classic</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-4">
                  <p class="ico-demo-sub-title mb-1">Dark + Light Layout</p>
                  <h6 class="ico-demo-title text-uppercase font-weight-bold">3D Graphic Landing Page</h6>
                  <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-graphics/">
                    <img class="img-fluid mb-1 mt-2" src="../assets/images/demo/template-3d-graphics.jpg" alt="Template with Counter">
                  </a>
                  <ul class="nav justify-content-center mt-1">
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-graphics/template-3d-graphic-ripple.html" class="ico-demo-link nav-link btn btn-outline-light">Ripple</a>
                    </li>
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-graphics/template-3d-graphic-particle.html" class="ico-demo-link nav-link btn btn-outline-light">Particle</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-graphics/template-3d-graphic-classic.html" class="ico-demo-link nav-link btn btn-outline-light">Classic</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-4">
                  <p class="ico-demo-sub-title mb-1">ICO Dashboard</p>
                  <h6 class="ico-demo-title text-uppercase font-weight-bold">Crypto ICO admin panel</h6>
                  <a href="index.html" target="_blank">
                    <img class="img-fluid mb-1 mt-2" src="../assets/images/demo/ico-dashboard.jpg" alt="Crypto ICO admin panel">
                  </a>
                  <ul class="nav justify-content-center mt-1">
                    <li class="nav-item mr-2">
                      <a href="index.html" class="ico-demo-link nav-link btn btn-outline-light">LTR</a>
                    </li>
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico-admin/html/rtl/vertical-menu/" target="_blank" class="ico-demo-link nav-link btn btn-outline-light">RTL</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row py-4">
                <div class="col-12 col-md-4">
                  <p class="ico-demo-sub-title mb-1">Dark Layout</p>
                  <h6 class="ico-demo-title text-uppercase font-weight-bold">3D Animated Graphic Landing Page</h6>
                  <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-animation/">
                    <img class="img-fluid mb-1 mt-2" src="../assets/images/demo/template-3d-animation.jpg" alt="Template with Counter">
                  </a>
                  <ul class="nav justify-content-center mt-1">
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-animation/template-3d-animation-ripple.html" class="ico-demo-link nav-link btn btn-outline-light">Ripple</a>
                    </li>
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-animation/template-3d-animation-particle.html" class="ico-demo-link nav-link btn btn-outline-light">Particle</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-3d-animation/template-3d-animation-classic.html" class="ico-demo-link nav-link btn btn-outline-light">Classic</a>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-md-4">
                  <p class="ico-demo-sub-title mb-1">Light Layout</p>
                  <h6 class="ico-demo-title text-uppercase font-weight-bold">Intro Video Landing Page </h6>
                  <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-intro-video/">
                    <img class="img-fluid mb-1 mt-2" src="../assets/images/demo/template-intro-video.jpg" alt="Intro Video Landing Page">
                  </a>
                  <ul class="nav justify-content-center mt-1">
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-intro-video/template-intro-video-ripple.html" class="ico-demo-link nav-link btn btn-outline-light">Ripple</a>
                    </li>
                    <li class="nav-item mr-2">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-intro-video/template-intro-video-particle.html" class="ico-demo-link nav-link btn btn-outline-light">Particle</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://pixinvent.com/demo/crypto-ico/html/ltr/template-intro-video/template-intro-video-classic.html" class="ico-demo-link nav-link btn btn-outline-light">Classic</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ Demo fullscreen-overlay --><div id="wallet">
        <div class="wallet-table-th d-none d-md-block">
          <div class="row">
            <div class="col-md-6 col-12 py-1">
              <p class="mt-0 text-capitalize">Cryptocurrency</p>
            </div>
            <div class="col-md-2 col-12 py-1 text-center">
              <p class="mt-0 text-capitalize">Available</p>
            </div>
            <div class="col-md-4 col-12 py-1 text-center">
              <p class="mt-0 text-capitalize">Transect</p>
            </div>
          </div>
        </div>
        <!-- BTC -->
        <section class="card pull-up">
          <div class="card-content">
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-md-6 col-12 py-1">
                    <div class="media">
                      <i class="cc BTC mr-2 font-large-2 warning"></i>
                      <div class="media-body">
                        <h5 class="mt-0 text-capitalize">Bitcoin</h5>
                        <p class="text-muted mb-0 font-small-3 wallet-address">0xd38d9eeb5b9617d758cee2c683e1d385637635e9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <h6>0.019842 BTC</h6>
                    <p class="text-muted mb-0 font-small-3">~ $2650.78</p>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Deposit</a>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Withdraw</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/ BTC -->
        <!-- ETH -->
        <section class="card pull-up">
          <div class="card-content">
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-md-6 col-12 py-1">
                    <div class="media">
                      <i class="cc ETH mr-2 font-large-2 blue accent-3"></i>
                      <div class="media-body">
                        <h5 class="mt-0 text-capitalize">Ethereum</h5>
                        <p class="text-muted mb-0 font-small-3 wallet-address">0xd38d9eeb5b9617d758cee2c683e1d385637635e9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <h6>0.6789842 ETH</h6>
                    <p class="text-muted mb-0 font-small-3">~ $650.78</p>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Deposit</a>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Withdraw</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/ ETH -->
        <!-- TetherUSD -->
        <section class="card pull-up">
          <div class="card-content">
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-md-6 col-12 py-1">
                    <div class="media">
                      <i class="cc USDT-alt mr-2 font-large-2 teal lighten-2"></i>
                      <div class="media-body">
                        <h5 class="mt-0 text-capitalize">TetherUSD</h5>
                        <p class="text-muted mb-0 font-small-3 wallet-address">0xd38d9eeb5b9617d758cee2c683e1d385637635e9</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <h6>0 USDT</h6>
                    <p class="text-muted mb-0 font-small-3">~ $0</p>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Deposit</a>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Withdraw</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/ TetherUSD -->
        <!-- USD, EUR, other fiat currencies -->
        <section class="card pull-up">
          <div class="card-content">
            <div class="card-body">
              <div class="col-12">
                <div class="row">
                  <div class="col-md-6 col-12 py-1">
                    <div class="media">
                      <i class="la la-dollar mr-2 bg-primary white bg-lighten-2 rounded-circle"></i>
                      <div class="media-body">
                        <h5 class="mt-0 text-capitalize">USD</h5>
                        <p class="text-muted mb-0 font-small-3 wallet-address">Fiat currencies</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <h6>1500 USD</h6>
                    <p class="text-muted mb-0 font-small-3">~ $1500</p>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Deposit</a>
                  </div>
                  <div class="col-md-2 col-12 py-1 text-center">
                    <a href="#" class="line-height-3">Withdraw</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/ USD, EUR, other fiat currencies -->
      </div>
      </div>
    </div>
    <div class="sidebar-detached sidebar-right">
      <div class="sidebar"><div id="wallet-sidebar" class="sidebar-content">
        <div class="row">
          <p class="py-1 text-capitalize col-12">Your balance</p>
        </div>
        <div class="card">
          <div class="card-header">
            <h6 class="card-title text-center">ICO Tokens</h6>
          </div>
          <div class="card-content collapse show">
            <div class="card-body">

              <div class="text-center row clearfix mb-2">
                <div class="col-12">
                  <i class="icon-layers font-large-3 bg-warning bg-glow white rounded-circle p-3 d-inline-block"></i>
                </div>
              </div>
              <h3 class="text-center">3,458.88 CIC</h3>
            </div>
            <div class="table-responsive">
              <table class="table table-de mb-0">
                <tbody>
                <tr>
                  <td>CIC Token</td>
                  <td><i class="icon-layers"></i> 3,258 CIC</td>
                </tr>
                <tr>
                  <td>CIC Referral</td>
                  <td><i class="icon-layers"></i> 200.88 CIC</td>
                </tr>
                <tr>
                  <td>CIC Price</td>
                  <td><i class="cc BTC-alt"></i> 0.0001 BTC</td>
                </tr>
                <tr>
                  <td>Raised BTC</td>
                  <td><i class="cc BTC-alt"></i> 2154 BTC</td>
                </tr>
                <tr>
                  <td>Raised USD</td>
                  <td><i class="la la-dollar"></i> 4.52 M</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
