<div class="app-content content" style="margin-left: 0 !important;">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section id="account-login" class="flexbox-container">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <!-- image -->
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
          <div class="border-grey border-lighten-3 m-0 box-shadow-0 card-account-left">
            <img src="assets/images/pages/account-login.png" class="card-account-img width-200" alt="card-account-img">
          </div>
        </div>
        <!-- login form -->
        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
          <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">
            <div class="card-content">
              <div class="card-body p-3">
                <p class="text-center h5 text-capitalize">Bienvenido a Giros del Sur!</p>
                <p class="mb-3 text-center">Ingresa tus datos de acceso</p>
                <form ngForm="form" name="form" class="form-horizontal form-signin">
                  <fieldset class="form-label-group">
                    <input [(ngModel)]="email" id="email" name="email" type="email" class="form-control"
                           placeholder="Tu correo" value="" required autofocus="">
                    <label for="email">Correo</label>
                  </fieldset>
                  <fieldset class="form-label-group">
                    <input [(ngModel)]="password" id="password" name="password" type="password" class="form-control"
                           placeholder="Ingresa tu clave" value="" required autofocus="">
                    <label for="password">Clave</label>
                  </fieldset>
                  <div class="form-group row">
                    <div class="col-md-6 col-12 text-center text-sm-left">
                      <fieldset>
                        <input type="checkbox" id="remember-me" class="chk-remember">
                        <label for="remember-me"> Recuerdame</label>
                      </fieldset>
                    </div>
                    <div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a [routerLink]="['/forgotpassword']" class="card-link">¿Olvido su clave?</a></div>
                  </div>
                  <button type="submit" class="btn-gradient-primary btn-block my-1" (click)="login()">Ingresar</button>
                  <div *ngIf="showValidFormMessage" style="color: red">{{errorMessage}}</div>
                  <p class="text-center"><a [routerLink]="['/signin']" class="card-link">Registrarse</a></p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    </div>
  </div>
</div>
